build
.claude
**/.DS_Store
loco
alusc.fa
alusc.fa
out.fa
alusc.fa
alusc.fa
alusc.fa
random_seq.fa
out.csv
py/models
raw_protein.out
ttn.fasta
py/uniprot_sprot.fasta
py/kmer_nets.pt
out.bed
py/random_prot.fa
dna.test.fa
chr1.fa
dna.raw
py/chr1_partial.fa
py/uniprot_sprot_partial.fasta
amino.test.fa
amino.test.fa.bed
fit_dna_sum.yaml
ttn_seg.fasta
DF000000028.fa
models
